<app-box>
  <div id='box-title' class='box-title'>
    <svg (click)='backToSearch()' xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
      <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
    </svg>
    Frequência por "{{ name }}"
  </div>
  <div id='box-content'>
    <table *ngIf="nameFrequency !== undefined">
      <thead>
        <tr>
          <th>#</th>
          <th>Classe</th>
          <th>Frequência</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frequency of nameFrequency?.res; let i = index">
          <td>{{ i }}</td>
          <td>{{ frequency.periodo }}</td>
          <td>{{ frequency.frequencia }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Total:</td>
          <td>{{ total }}</td>
        </tr>
      </tfoot>
    </table>
    <!-- <div *ngIf="nameFrequency">{{ nameFrequency.localidade }}</div> -->

    <div *ngIf="nameFrequency === undefined && !isLoading">
      <p>Não foi possível encontrar a frequência para o nome buscado</p>
    </div>

    <div *ngIf="isLoading">
      Carregando...
    </div>
  </div>


</app-box>
